{% apply inline_css %}
    <style>

    </style>

    <p>
        Hello ,<br><br>
       Approval file at {{ "now"|date("d/m/Y") }}
        You Have a new approval file. Please check it.
        <br><br><br>
    </p>

{% endapply %}
